.newsFeedSideBarHeader{
  text-align: center;
  color: black;
  font-family: “UnitedSansCdHv”, franklin-gothic-urw !important;
  margin-bottom: 5px;
  font-size: 2.5rem;
  margin-top: 5px;
}

.newsFeedSideBarContent{
  font-size: 1.7rem;
  font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;
  padding-right: 25%;
  padding-left: 5%;
  color: black;
}

.newsFeedSideBarImage{
  width: 100%;
  max-height: 400px;
  display: block;
  border-top: 4px solid black;
  border-bottom: 4px solid black;


}

.newsFeedSideBarArticle{
  padding-top: 5px;
  border: 4px solid black;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
