html, body{
  background-color: #D9D9D9;
}

.App {
}


.newsFeedSidebarContainer{
  width: 28%;
  float: right;
  margin-top: 50px;
}

.Container{
  border: 2px solid black;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-top: 5%;
}
